.input-form {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow:rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.input-form p {
    margin: 5px 0 15px 0;
}